* {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    ;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}
/* --------------------------------------------------------------------
                   start header styles 
--------------------------------------------------------------------- */

.header-container {
    width: 100%;
    height: 100%;
    background: rgba(255, 144, 14, 0.1);
}

.nav-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.nav-title {
    font-weight: 700;
    font-size: 25px;
    color: #131313;
    margin: 25px;
    margin-left: 80px;
}

.nav-menubar ul {
    display: flex;
    margin: 35px;
    margin-left: 400px;
}

.nav-menubar ul li {
    list-style: none;
    padding-left: 30px;
}

/* banner styles  */
.banner {
    text-align: center;
}
.banner-title {
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    color: #131313;
    margin-bottom: 25px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 25px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    /* margin-left: 560px; */
    margin-bottom: 50px;
}

.section-banner-image {
    width: 80%;
    height: 100%;
    border-radius: 8px;
    /* margin-left: 130px; */
    margin-bottom: 40px;
}

/* --------------------------------------------------------------------
                   end header styles 
--------------------------------------------------------------------- */

/* --------------------------------------------------------------------
                   start main styles 
--------------------------------------------------------------------- */
.main-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 130px;
}

.main-first-section {
    display: flex;
    margin-bottom: 130px;
}

.first-section-img {
    padding-left: 140px;
}

.first-section-img ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    align-items: center;
}

.first-section-img ul li img {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

.first-section-text {
    width: 70%;
    height: 70%;
    margin-left: 60px;
    margin-top: 80px;
}

.text-title {
    color: #727272;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 18px;
}

.text-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.btn {
    width: 150px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.text-primary {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.text-primary-again {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* start main-second-section   */

.main-second-section {
    width: 100%;
    height: 100%;
}

.main-second-section-info {
    display: flex;
}

.main-second-section-text {
    width: 100%;
    height: 100%;
    /* padding-left: 110px; */
}

.main-second-section-text-title {
    font-weight: 700;
    font-size: 38px;
    color: #131313;
    padding-left: 27px;
    margin-left: 26px;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;

}

.main-second-section-descripton {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-left: 27px;
    margin-bottom: 30px;

}

.another-style-div {
    width: 540px;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
}

.another-style-div-title {
    font-weight: 600;
    font-size: 17px;
    color: #131313;
    padding-top: 25px;
    padding-left: 25px;

}

.another-style-div-description {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    padding-top: 17px;
    padding-left: 27px;

}

.main-second-section-image {
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
}

.main-second-section-images {
    /* width: 500px; */
    height: 600px;
    background: url(successful-business-concept-businesswoman-are-smiling-standing-with-crossed-arms-office.jpg);
    border-radius: 8px;
    padding-left: 40px;
    margin-top: 20px;
}

.btn-primary-year {
    width: 190px;
    height: 120px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: -155px;
    left: -200px;
    right: 0;
    margin-bottom: 100px;
}

.button-text {
    font-weight: 400;
    font-size: 17px;
}

/* start last section styles */

.last-section {
    margin-bottom: 100px;
}

.last-section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 53px;
    color: #131313;
    margin-left: 130px;
    margin-top: 80px;
}

.last-section-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-left: 130px;
    margin-bottom: 80px;

}

.icon-part {
    display: flex;
    margin: 0 8%;
}

.icon-div {
    border: 2px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.icon-div:hover {
    border-color: dodgerblue;
}

.icon-div li {
    list-style: none;

}

.icon-div .icon-title {
    font-weight: 600;
    font-size: 35px;
    color: #424242;
    padding-bottom: 5px;
}

.icon-div .icon-description {
    font-weight: 600;
    font-size: 14px;
    color: #727272;
}

/* bonus section styles  */

.bonus-section {
    width: 100%;
    height: 100%;
}

.bonus-banner-title {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #131313;
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px red;
}

.bonus-section-banner img {
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------------------------
                   end main styles 
--------------------------------------------------------------------- */

/* --------------------------------------------------------------------
                   start footer styles 
--------------------------------------------------------------------- */
.footer-text {
    position: relative;
    bottom: 60px;
}

.footer-section-title {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-bottom: 15px;
    text-align: center;
}

.footer-section-description {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-bottom: 50px;
    text-align: center;
}
.footer-logos ul li img{
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.footer-logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    margin-bottom: 80px;
}

.footer-end {
    width: 80%;
    height: 80%;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-end-text {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #424242;
    padding: 30px;
    margin-bottom: 50px;
}

/* --------------------------------------------------------------------
                   end footer styles 
--------------------------------------------------------------------- */

/*---------------------------------------------------------------------
                     Media Qeuries
  --------------------------------------------------------------------*/

  /* Mobile Devices  */

  @media only screen and (max-width:688px) {
    *{
        margin: 0 auto;
    }
    .nav-details {
        flex-direction: column;
    }
    .nav-title{
        flex-direction: column;
        margin-left: 3.9px;
        font-size: 20px;
    }
    .nav-menubar ul{
        flex-direction: column;
        gap: 50px;
        /* text-align: left; */
        margin-left: 0;
        padding: 0;
    }
    .section-banner-image {
        width: 100%;
        height: 100%;
        /* margin-left: 0; */
    }
    .btn-primary{
        margin-left: 50px;
    }
  }