* {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    ;
}

/* --------------------------------------------------------------------
                   start header styles 
--------------------------------------------------------------------- */

.header-container {
    width: 100%;
    height: 100%;
    background: rgba(255, 144, 14, 0.1);
}

.nav-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.nav-title {
    font-weight: 700;
    font-size: 25px;
    color: #131313;
    margin: 25px;
    margin-left: 80px;
}

.nav-menubar ul {
    display: flex;
    margin: 35px;
    margin-left: 400px;
}

.nav-menubar ul li {
    list-style: none;
    padding-left: 30px;
}

/* banner styles  */

.banner-title {
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    color: #131313;
    margin-bottom: 25px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 25px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    margin-left: 560px;
    margin-bottom: 50px;
}

.section-banner-image {
    width: 80%;
    height: 100%;
    border-radius: 8px;
    margin-left: 120px;
    margin-bottom: 40px;
}

/* --------------------------------------------------------------------
                   end header styles 
--------------------------------------------------------------------- */

/* --------------------------------------------------------------------
                   start main styles 
--------------------------------------------------------------------- */
.main-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 130px;
}

.main-first-section {
    display: flex;
}

.first-section-img {
    padding-left: 100px;
}

.first-section-img ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    align-items: center;
}

.first-section-img ul li img {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

.first-section-text {
    width: 70%;
    height: 70%;
    margin-left: 60px;
    margin-top: 80px;
}

.text-title {
    color: #727272;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 18px;
}

.text-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.btn {
    width: 150px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.text-primary {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.text-primary-again {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* start main-second-section   */